{% extends "base.html" %}

{% block body %}

<div id="page-wrapper">

	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Smart Feeder <small> Automated Feeding </small>
				</h1>
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-4">
				<h2 class="page-header">
					Info
				</h2>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label for="inputEmail3"> 몸무게 </label>
							<div class="alert alert-info" role="alert"></div>
							<label for="inputPassword3"> 마지막 먹이준 시간 </label>
							<div class="alert alert-info" role="alert"></div>
							<label for="inputPassword3"> 남은 먹이 양 </label>
							<div class="alert alert-info" role="alert"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-offset-1 col-lg-4">
				<h2 class="page-header"> 언제 먹이를 줄까요? </h2>

				<div class="panel panel-default">
					<div class="panel-body">
						<h4> 오후 </h4>
						<form id="smart_feeder_form" method="POST">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="12" > 00:00
							</label>
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="13" > 01:00
							</label>
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="14" > 02:00
							</label>
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="15" > 03:00
							</label>
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="16" > 04:00
							</label> 
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="17" > 05:00
							</label>
							<br>
							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="18" > 06:00
							</label>

							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="19" > 07:00
							</label>

							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="20" > 08:00
							</label>

							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="21" > 09:00
							</label>

							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="22" > 10:00
							</label>

							<label class="btn btn-warning">
								<input type="checkbox" name="time" value="23" > 11:00
							</label>
						</div>
							<h4> 오전 </h4>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="0" > 00:00
								</label>
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="1" > 01:00
								</label>
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="2" > 02:00
								</label>
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="3" > 03:00
								</label>
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="4" > 04:00
								</label> 
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="5" > 05:00
								</label>
								<br>
								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="6" > 06:00
								</label>

								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="7" > 07:00
								</label>

								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="8" > 08:00
								</label>

								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="9" > 09:00
								</label>

								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="10" > 10:00
								</label>

								<label class="btn btn-warning">
									<input type="checkbox" name="time" value="11" > 11:00
								</label>
							</form>
							<div class="text-right">

										<button type="button" class="btn btn-primary" onclick="send_data_to_feeder();">
										설정 적용 </button>

								</div>
						</div>
					</div>
				</div>
				
			<br><br><br>
			</div>
			<!-- /.row -->


		</div>
		<!-- /.container-fluid -->

	</div>

	{% endblock %}
	{% block footer %}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		function send_data_to_feeder(){
			var data = $("#smart_feeder_form").serialize();
			$.ajax({
				type : "POST",
				url : "{{ url_for('main.control_smart_feeder') }}",
				data : data,
			});
		}
	</script>

	{% endblock %}